
/* -------------------------------- */

/*
 * COPYRIGHT LICENSE: This information contains sample code provided in source code form. You may copy, 
 * modify, and distribute these sample programs in any form without payment to IBM for the purposes of 
 * developing, using, marketing or distributing application programs conforming to the application 
 * programming interface for the operating platform for which the sample code is written. 
 * Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON AN "AS IS" BASIS 
 * AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED 
 * WARRANTIES OR CONDITIONS OF MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, 
 * TITLE, AND ANY WARRANTY OR CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT, 
 * INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF THE 
 * SAMPLE SOURCE CODE. IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS 
 * OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.  
 *
 * (C) COPYRIGHT International Business Machines Corp., 2000,2011
 * All Rights Reserved * Licensed Materials - Property of IBM
 */

/* -------------------------------- */



/* MAIN FRAME STYLE FOR HELP CONTENT: DO NOT use a class reference */

BODY		{ font-family : Arial, Helvetica, sans-serif;
			  margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;width:100%;height:100%;overflow:auto }

BODY.banner {
	margin-left: 0px;
}

DIV		{ font-family : Arial, Helvetica, sans-serif;}

DIV.banner {
	margin-left: 0px;
}


/* Header Properties */

H1			{ font-size : 14pt;

			  font-family : Verdana, Arial, Helvetica, sans-serif;

			  margin-bottom : 0;
                          color : #669966;}

H2			{ font-size : 15pt;

			  font-family : Verdana, Arial, Helvetica, sans-serif;

			  margin-bottom : 0;
                          color : #669966;}

H3			{ font-size : 12pt;

			  font-family : Verdana, Arial, Helvetica, sans-serif;

			  font-style : italic;

			  margin-bottom : 0;
                          color : #669966;}

H4			{ font-size : 11pt;

			  font-family : Verdana, Arial, Helvetica, sans-serif;

			  margin-bottom : 0;
                          color : #669966;}

H5			{ font-size : 10pt;

			  font-family : Verdana, Arial, Helvetica, sans-serif;

			  font-style : italic;

			  margin-bottom : 0;
                          color : #669966;}


/* Paragraph Properties */


P			{ font-family : Verdana, Arial, Helvetica, sans-serif;

			  margin-top : 0em;

			  margin-bottom : 0;
                          font-size : .8em;}
P.global                { font-family : Verdana, Arial, Helvetica, sans-serif;

                          font-size : .6em;
			  margin-top : 4px;

       			  color : "#ffffff";}
P.search                { font-family : Verdana, Arial, Helvetica, sans-serif;

                          font-size : .6em;}
P.tips                  { font-family : Verdana, Arial, Helvetica, sans-serif;

                          font-size : .7em;
                          color : #333333;}
P.footer                { font-family : Verdana, Arial, Helvetica, sans-serif;

                          font-size : .7em;
                          color : #666666;}
P.trail                { font-family : Verdana, Arial, Helvetica, sans-serif;

                          font-size : .7em;
                          color : #666666;}


/* Anchor Properties */

A			{ font-family : Verdana, Arial, Helvetica, sans-serif;

			  text-decoration : underline;

			  font-weight : normal;}


A.global                { color: #ffffff;text-decoration: none;font-weight:normal;}

A:link.global           { color: #ffffff;font-weight:normal;text-decoration: none;}

A:visited.global        { color: #ffffff;font-weight:normal;text-decoration: none;}
A:active.global         { color: #ffffff;font-weight:normal;text-decoration: none;}



A:hover.global          { color: #ffffff;font-weight:normal;text-decoration: underline;}




A.promos                { color: #000000;text-decoration: none;font-weight:normal;}

A:link.promos           { color: #000000;font-weight:normal;text-decoration: none;}

A:visited.promos        { color: #000000;font-weight:normal;text-decoration: none;}
A:active.promos         { color: #000000;font-weight:normal;text-decoration: none;}



A:hover.promos          { color: #000000;font-weight:normal;text-decoration: none;}




A.footer                { color: #666666;text-decoration: none;font-weight:normal;}

A:link.footer           { color: #666666;font-weight:normal;text-decoration: none;}

A:visited.footer        { color: #666666;font-weight:normal;text-decoration: none;}
A:active.footer         { color: #666666;font-weight:normal;text-decoration: none;}



A:hover.footer          { color: #666666;font-weight:normal;text-decoration: underline;}




A.trail                 { color: #666666;text-decoration: none;font-weight:normal;}

A:link.trail            { color: #666666;font-weight:normal;text-decoration: none;}

A:visited.trail         { color: #666666;font-weight:normal;text-decoration: none;}
A:active.trail          { color: #666666;font-weight:normal;text-decoration: none;}



A:hover.trail           { color: #666666;font-weight:normal;text-decoration: underline;}







/* Table Properties */

TABLE   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
			  border : 0;

			  margin-top : 0px;

			  margin : 0px;

			  padding : 0px;

                          spacing : 0px
			  float : none;

			  clear : none;}

TABLE.banner {
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
}
	
TABLE.footer {
	border-spacing: 0px;
	padding: 5px;
	width: 100%;
}

TH			{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .7em;

			  font-weight : bold;
			  text-align : left;}



TH.item   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : bold;
                          color : #666666;
			  text-align : left;}

TH.cartitemleft   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : bold;
                          color : #666666;
			  text-align : left;
			  background-color : #eeeecc;
			  white-space : nowrap;}

TH.cartitemright   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : bold;
                          color : #666666;
			  text-align : right;
			  background-color : #eeeecc;
			  white-space : nowrap;}

TH.promos		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .7em;
                          color: white;
			  font-weight : bold;
			  padding : 2px;
			  padding-left : 4px;
                          color : "#ffffff";
			  text-align : left;
 
                         background-color: #669966;}


TH.space	        { background-color: #ffffff;
			  padding : 0px;}


TD			{ font-family : Verdana, Arial, Helvetica, sans-serif;}

TD.item   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : normal;
                          color : #666666;
			  text-align : left;}

TD.cartitemleft   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : normal;
                          color : #666666;
			  text-align : left;
			  background-color : #ffffdd;
			  white-space : nowrap;}

TD.cartitemright   		{ font-family : Verdana, Arial, Helvetica, sans-serif;
                          font-size : .6em;

			  font-weight : normal;
                          color : #666666;
			  text-align : right;
			  background-color : #ffffdd;
			  white-space : nowrap;}

TD.promos	        { padding : 2px;
			  padding-left : 4px;
                          padding-bottom : 4px;
 
                         background-color: #DCEBCD;}

TD.trail	        { padding-left : 14px;}


TR.cartitem { background-color : #ffffdd;}	
TH.cartitem { background-color : #eeeecc;}
TR.carttitle { font-size : 14pt;
			  font-family : Verdana, Arial, Helvetica, sans-serif;
			  margin-bottom : 0;
			  color : #669966;}
TR.cartsubtotal { background-color: #ffffdd;
					font-weight: bold;
					text-align: right;
					align: right }


/* Text Formatting Properties */

STRONG			{ font-family : Verdana, Arial, Helvetica, sans-serif;

			  font-weight : bold;}


TT			{ font-family : Courier;}


CENTER			{ text-align : center;}

HR {width: 100%; color: black; height: 1px; shade:no-shade; position: relative}
